body{
  margin: 0;
  padding: 0;
}
.my-nav{
  height: 12vh;
  display: flex;
  background-color: #383838;
  align-items: center;
  justify-content: space-around;
}

.nav-items li{
  list-style: none;
  display: inline-block;
  margin: auto 0;
  padding-bottom:10px ;
}
.nav-items li a{
  text-decoration: none;
  color:#ffffff ;
  margin: 0 20px;
  font-size: 1.25rem;
  transition: 0.5s;
}
.my-nav .logo{
  height: 40px;
}
.my-nav .nav-items li:hover a{
  color:orange; 
}