html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  
  
}
.my-nav{
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: flex;
  background-color: #383838;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto Mono', monospace;
  /* overflow: hidden; */
}

.nav-items li{
  list-style: none;
  display: inline-block;
  margin: auto 0;
  padding-bottom:10px ;
  transition: 0.5s;
}
.nav-items li a{
  text-decoration: none;
  color:#ffffff ;
  margin: 0 20px;
  font-size: 1.25rem;
  transition: 0.5s;
}
.my-nav .logo{
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.my-nav .logo:hover{
  transform: scale(1.1);
}

.my-nav .nav-items li:hover a,li{
  color:#fa6a42; 
  
}
.my-nav .nav-items li:hover{
  transform: scale(1.1);
  transform: translateY(5px);
  
}

#home{
  height: 90vh;
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-color: rgba(3, 3, 3, 0.74);
  background-blend-mode:overlay ;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  padding:10vh 0px ;
}

h1{
  font-size: 55px;

  
}
h2{
  font-size: 2rem;
}
h4{
  font-size: 1.1rem;
  font-weight: normal;
}
h3{
  font-size: 1.4rem;
  font-family: 'roboto', sans-serif;
}
p{
  font-size: 1.10rem;
  font-family: 'roboto Mono', sans-serif;
}
.h1-1{
  margin-bottom: 0px;
}
.color-h1{
  margin-top:0px;
  font-size: 54px;
}
h3{
  font-style: italic;
}
.color-orange{
  color: #fa6a42;
}
.flex-container{
  display: flex;
  justify-content: space-evenly;
}
.helf-width{
  width: 40%;
}
.main-img img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  /* overflow: hidden; */

}
.main-img img:hover{
  /* transform: translateX(-5px); */
  /* transform: scale(1.01); */
}

.btn{
  color: #ffffff;
  background-image:linear-gradient(to left bottom, #f8704a,#e48110);
  text-decoration: none;
  padding:8px 30px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: absolute;
  transition: 0.5s;

}

.btn:hover{
  background-image:linear-gradient(to right, #f8704a,#e48110);
  transform: scale(1.1);
}

#dream{
  padding: 10vh 0px;
  height: 90vh;
  background-image: url("./images"); 
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-color: #383841;
  background-blend-mode:overlay ;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}
#experience{
  padding: 10vh 0px;
  height: 100vh;
  background-image: url("./images"); 
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-color: rgba(3, 3, 3, 0.74);
  background-blend-mode:overlay ;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}
#experience h1{
  text-align: center;
  margin: 0 auto 10vh auto;
  width: 21vw;
  padding-bottom: 3px;
  border-bottom: 4px solid #f8704a;
}
.card p{
  color:#363636;
  
  font-family: 'roboto', sans-serif;
}
.card h4{
  color:#000000;
  border-bottom: 4px solid #f8704a;
  padding-bottom: 10px;
}
.card{
  background-color: #ffffff;
  color:#292b2c;
  /* text-align: center; */
  padding: 0px 40px;
  height: 60vh;
  width: 35%;
  transition: 0.5s;
  border-radius: 3px;
  box-shadow: 5px 5px 30px 5px rgb(3, 3, 3);
}
.card:hover{
  /* transform: scale(1.03); */
  transform: translateY(10px);
}
.card-1{
  border-left: 8px solid;
  border-image:linear-gradient(to top, #f8704a, #fd4c1b) ;
  border-image-slice: 1;
}
.card-2{
  border-left: 8px solid;
  border-image:linear-gradient(to top,rgb(214, 116, 3),#fd4c1b) ;
  border-image-slice: 1;
}

#about-me{
  padding: 10vh 0px;
  height: 105vh;
  background-image: url("./images"); 
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-color: #383841;
  background-blend-mode:overlay ;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

#about-me h1{
  text-align: center;
  margin: 0 auto 10vh auto;
  width: 20vw;
  padding-bottom: 3px;
  border-bottom: 4px solid #f8704a;
}

#about-me p{
  font-size: 1.05rem;
  font-family: 'Roboto Mono', monospace;
  font-weight:500;

}
#about-me p a{
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
#about-me p a:hover{
  color: #e48110;
}
.my-info{
  border: 1px solid #414149;
}
.my-info .text-wapper{
  padding-left: 15px;
  border-left: 5px solid rgb(78, 67, 67);
  /* border-image:linear-gradient(to top, #c38003, #ac5703) ; */
  border-image-slice: 1;
}

#about-me h2{
  text-align: center;
  margin: 0 auto 5vh auto;
  width: 12vw;
  font-size: 1.5rem;
  padding-bottom: 3px;
  border-bottom: 3px solid #f8704a;
  color: #FFFFFF;
}
.contact-item a{
  text-decoration: none;
  color: rgb(219, 218, 218);
  font-size: 2rem;
  transition: 0.5s;

}
.contact-item a:hover{
  color: #f8704a;
  /* transform: scale(1.5); */
  transform: translateY(10px);
 
}



.contact-item{
  color: #2e2d2d;
  display: flex;
  justify-content: space-evenly;

}

#contact{
  padding: 10vh 0px;
  height: 100vh;
  background-color: #444444;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}
#contact h1{
  text-align: center;
  margin: 0 auto 10vh auto;
  width: 27vw;
  padding-bottom: 3px;
  border-bottom: 4px solid #f8704a;
}
.form{
  width: 50%;
  /* border: 1px solid ; */
  padding: 20px;
  font-size: 1.2rem;
}

input, textarea{
  width: 100%;
  padding: 7px 10px;
  /* border-radius: 5px; */
  border: none;
  margin: 10px 0;
  font-size: 1rem;
  /* border: 1px solid #ccc; */
}
input:focus{
  outline: 3px solid #f8704a ;
}
textarea:focus{
  outline: 3px solid #f8704a ;
  /* border-radius: 5px; */
}
.btn-form{
  width: 103%;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  
}
.btn-form:hover{
  background-color: #e48110;
  color: #ffffff;
}

footer{
  height: 15vh;
  background-color: #383841;
  color: #ffffff;
  margin: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
footer p{
  margin: 0;
}